header {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 2em;
}

body,
button {
    background-color: darkgrey;
}

#content button {
    border: none;
    font-size: 1.5em;
    
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3%;
}

#bookForm {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 10px 10px 10px;
    top: 30%;
    left: 40%;
    background-color: lightgray;
    border-radius: 8px;
    width: 20%;
}

#bookForm h2 {
    text-align: center;
}

#bookForm input {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#bookForm button {
    background-color: rgb(5, 224, 5);
    border-radius: 5px;
    padding: 5px 0;
}

#bookForm div {
    display: flex;
    justify-content: center;
    gap: 5px;
}

#books {
    padding: 20px;
    display: flex;
    gap: 20px;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 20%;
    padding: 10px;
}

.card button {
    width: 100%;
    border-radius: 5px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}