header {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 2em;
}

body {
    background-color: darkgrey;
}

button {
    border: none;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}

#addBook {
    background-color: darkgrey;
    border: none;
    font-size: 1.5em;
    padding: 5px;
    width: 15%;
}

#addBook:hover {
    background-color: lightgrey;
}

#bookForm {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 10px 10px 10px;
    top: 30%;
    left: 40%;
    background-color: lightgray;
    border-radius: 8px;
    width: 20%;
}

#bookForm h2 {
    text-align: center;
}

#bookForm input {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

#bookForm button {
    background-color: rgb(5, 224, 5);
    border-radius: 5px;
    padding: 5px 0;
}

#bookForm div {
    display: flex;
    justify-content: center;
    gap: 5px;
}

#books {
    width: 100%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 3%;
    row-gap: 20px;
    
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 31%;
    padding: 10px;
    border-radius: 5px;
}

.card button {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}

.green {
    background-color: rgb(107, 249, 107);
}

.red {
    background-color: rgb(248, 116, 116);
}

.green:hover {
    background-color: rgb(72, 164, 72);;
}

.red:hover {
    background-color: rgb(189, 56, 56);
}

.bookRemove:hover {
    background-color: rgb(167, 167, 167);
}
